.result-item:nth-child(odd) {
  background-color: #232c3b;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}

.result-item:nth-child(even) {
  background-color: #ff6c3a;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}
