.result-item:nth-child(even) {
  background-color: #232c3b;
  color: #fff;
  padding: 35px 40px 35px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}

.result-item:nth-child(odd) {
  background-color: #ff6c3a;
  color: #fff;
  padding: 35px 40px 35px 40px;
  border-radius: 8px;
}

.result-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  align-items: baseline;
}

.section-employee {
  text-align: center;
}

.section-employee img {
  max-width: 80px;
  opacity: 0.8;
}

.section-employee p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.3px;
  padding-bottom: 8px;
  text-align: left;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.icon-wrapper-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 14px;
}

.icon-wrapper-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects {
  text-align: center;
  justify-self: center;
}

.section-projects img {
  max-width: 70px;
  text-align: center;
}

.project-title {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.3px;
  padding-bottom: 8px;
}

.prj-info {
  font-size: 19px;
  text-align: left;
}

.projects-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

.projects-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.projects-container {
  display: flex;
  flex-direction: row;
}

.section-totaldays {
  text-align: right;
}

.section-totaldays p {
  color: #cbcbcb;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
  font-size: 18px;
  letter-spacing: 0.3px;
  text-align: right;
  font-weight: bold;
}

.section-totaldays span {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  text-align: right;
}
