header {
  background-image: url("./images/header-bg.jpg");
  padding-top: 75px;
  padding-bottom: 58px;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-left h1 {
  max-width: 700px;
  color: #ffffff;
  font-size: 48px;
  text-transform: capitalize;
  line-height: 55px;
  margin-bottom: 20px;
}

.header-left h2 {
  max-width: 700px;
  color: #222935;
  font-size: 30px;
  line-height: 55px;
  font-weight: 500;
  line-height: 36px;
}

.header-right img {
  max-width: 400px;
}
