.result-items {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Alegreya Sans";
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-items h2 {
  font-size: 40px;
  color: #232c3b;
  letter-spacing: 1px;
  text-align: center;
}
