.result-items {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Alegreya Sans";
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-items h2 {
  font-size: 40px;
  color: #232c3b;
  letter-spacing: 1px;
  text-align: center;
}

.input-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #232c3b;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}

.no-result {
  padding-top: 30px;
}

@media (max-width: 870px) {
  .input-wrapper {
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
